<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Minds</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body style="font-family: 'Poppins', sans-serif; background-color: #010206">
    <nav class="py-5 shadow-md mb-10">
        <div class="container flex items-center justify-start mx-auto">
            <div class="text-blue-700 font-bold text-2xl mr-20"> MovieMinds </div>
            <ul class="flex space-x-10 mr-auto">
                <li class="hover:text-blue-700"><a href="#"> Home </a></li>
                <li class="hover:text-blue-700"><a href="#"> About </a></li>
                <li class="hover:text-blue-700"><a href="#"> Service </a></li>
                <li class="hover:text-blue-700"><a href="#"> Contact </a></li>
            </ul>
            <div>
                <a href="/login">
                    <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout" class="w-5 h-5">
                </a>
            </div>
        </div>
    </nav>
    <div class="flex flex-col" style="margin-left: auto; margin-right: 0">
        <div class="overflow-auto flex flex-row p-2" style="background-color: antiquewhite; overflow-x: auto;">
            {% for movie in movies %}
                <div class="bg-blue-500 ml-20 h-24" style="min-width: 400px; height: 96px">
                    <p>{{ movie.title }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="overflow-auto flex flex-row p-2 border-0 border-r-2" style="max-width: 100%; background-color: antiquewhite; overflow-x: auto;">
            {% for movie in movies %}
                <div class="bg-blue-500 ml-20 h-24" style="min-width: 400px; height: 96px">
                    <p>{{ movie.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>